.container-message {
    margin-top:0px;
    padding:10px;
    width:100%;
    height:150px;
    background-color:orange;
    border:2px solid orange;
    border-radius:20px;
    text-align:center;

}