<!DOCTYPE html>
<html lang='en'>
    <head>
        <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <!--BEGIN TRACKJS--> <!--This lines of code will enable track.js which logs out app errors-->
        <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
        <script type="text/javascript" src="https://cdn.trackjs.com/release/current/tracker.js"></script>
        <!--END TRACKJS-->
        <% } %>
    </head>
<body>
    <table>
    <tr>
        <thead>
        <th>Delete<th>
        <th>Id</td>
        <th>Firstname</th>
        <th>lastname</th>
        <th>Email</th>
        </tr>
    </thead>
        <tbody id="users">

        </tbody>
    </table>
</body>
</html>